<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if title == "Home" %}
    <title>{{ site_name }}</title>
  {% else %}
    <title> {{ title }} | {{ site_name }}</title>
  {% endif %}

  <link rel="icon" href="favicon.png" type="image/png">
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="assets/images/favicon.png">

  <link rel="stylesheet" type="text/css" href="assets/css/styles.css" />

  <link rel="alternate" type="application/rss+xml" href="/rss.xml" title="RSS Feed">

  <!-- Primary Meta Tags -->
  <meta name="generator" content="Kondo—a minimalist SSG">
  <meta name="title" content="{{ title }}">
  <meta name="description" content="{{ description }}">

  <!-- Open Graph -->
  <meta property="og:site-name" content="{{ site_name }}">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:type" content="{{ page_type }}">
  <meta property="og:url" content="{{ site_url }}/{{ slug }}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:image" content="{{ site_url }}/assets/images/open-graph-image.jpg">
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="675" />

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="{{ site_url }}/{{ slug }}">
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{ description }}">
  <meta name="twitter:image" content="{{ site_url }}/assets/images/open-graph-image.jpg">
  <meta name="twitter:image:width" content="1200" />
  <meta name="twitter:image:height" content="675" />
  </head>
  <body>
    <header>
      <a href="index.html" class="home-link">{{ site_name }}</a>
      <nav>
      <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="now.html">Now</a></li>
      <li><a href="projects.html">Projects</a></li>
      </ul>
      </nav>
      </header>
    <main>
      {% unless title == "Home" %}
        <h1>{{ title }}</h1>
      {% endunless %}
      
      {{ content }}
    </main>
    <footer>
      <p>Subscribe via <a href="rss.xml">RSS</a>, <a href="subscribe.html">email</a>, or just say <a href="mailto:example@example.com">hello</a>.</p>
      <p class="copyright">&copy; {{ "now" | date: "%Y" }} {{ site_name }}</p>
    </footer>
  </body>
</html>